<!--ログイン画面（管理者側）-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('../partials/header.ejs') %>
    <title>管理者ページ: ログイン</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <form
      action="manager/login"
      method="POST"
      class="font-sans text-sm rounded w-full max-w-md mx-auto my-8 px-8 pt-6 pb-8"
    >
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input
          name="username"
          class="w-full py-2 px-3 text-gray-700 leading-normal rounded"
          id="username"
          type="email"
          required
        />
        <label
          class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal"
          for="username"
        >
          メールアドレス
        </label>
      </div>
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input
          name="password"
          class="w-full py-2 px-3 text-gray-700 leading-normal rounded"
          id="password"
          type="password"
          required
        />
        <label
          class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal"
          for="password"
        >
          パスワード
        </label>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-black hover:bg-black text-white py-2 px-4" type="submit">ログイン</button>
      </div>
      <% if (message && message.length !== 0) { %>
      <div class="text-center border rounded w-full px-3 py-2 bg-pink-100 text-red-700">
        <%= message %>
      </div>
      <% } %>
    </form>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
