<!-- 車両登録完了ページ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header.ejs') %>
    <title>車両登録完了</title>
  </head>
  <body>
    <style>
      h1 {
        font-size: 25px;
        padding: 100px 0;
      }
      .back {
        background-color: blanchedalmond;
        border: 1px #000 solid;
        font-size: 20px;
        padding: 0px 50px;
        margin-bottom: 20px;
      }
    </style>
    <div class="text-center">
      <h1 class="my-4 font-medium">車両登録が完了しました！</h1>
      <a href="/manager" class="back">トップへ戻る</a>
    </div>
  </body>
</html>
