<!--入札画面・商品ページ-->
<%- include('../partials/header.ejs') %>

    <body>
        <div class="w-full md:w-1/2 lg:w-1/3 flex flex-col mb-8 px-3" >
            <a href="/car_bid">
            <div class="overflow-hidden bg-white rounded-lg shadow hover:shadow-raised hover:translateY-2px transition">
              <img class="w-full" src="/img/escalade.png" alt="Sunset in the mountains">
              <div class="p-6 flex flex-col justify-between ">
                <h3 class="font-medium text-gray-900 mb-4 leading-normal">キャデラック・エスカレード・スポーツ
                </h3>
                <p class="inline-flex items-center">
                  <span class="text-gray-700 text-sm">Read More</span>
                </p>
              </div>
            </div>
          </div>
    </body>
    
    <%- include('../partials/footer.ejs') %>