<!--検索結果表示画面（クライアント側）-->
<!-- jQueryのリンク　../../public/js/jquety.min.js-->

<style>
    .pager{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .pagination {
        display: flex;
        justify-content: center;
        font-size: 22px;
        margin-bottom: 30px;
    }
    .pagination  li:not(:nth-child(1)){
        margin-left: 30px;
    }
    .pagination :hover{
        color: red;
    }
</style>

<%- include('../partials/header.ejs') %>

<script src="/js/jquery.min.js"></script>
<script src="/js/paginathing.min.js"></script>

<div class="pager">
    <!-- 
        出力は values[i].カラム名 にしてます。 
    -->
    <% for (var i = 0; i < values.length; i++) { %>
        <div class="w-full md:w-1/2 lg:w-1/3 flex flex-col mb-8 px-3" id="pagenation" >
            <a href="/car_bid">
                <div class="overflow-hidden bg-white rounded-lg shadow hover:shadow-raised hover:translateY-2px transition">
                    <a href="/car_bid">
                    <img class="w-full" src= "/img/escalade.png" id="target"  alt="Sunset in the mountains">
                    <div class="p-6 flex flex-col justify-between ">
                        <h3 class="font-medium text-gray-900 mb-4 leading-normal" id="car_name"><%= values[i].name %></h3>
                        <p class="inline-flex items-center">
                        <span class="text-gray-700 text-sm">Read More</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    <% } %>
</div>

<script>
     //画像ソース
    target.src = "/img/escalade.png";
    // var img = document.getElementById('target');
    // target.setAttribute('src','/img/escalade.png');

    //pager操作
    $(function() {
        $('.pager').paginathing({//親要素のclassを記述
            perPage: 9,//1ページあたりの表示件数
            prevText:'前へ',//1つ前のページへ移動するボタンのテキスト
            nextText:'次へ',//1つ次のページへ移動するボタンのテキスト
            activeClass: 'navi-active',//現在のページ番号に任意のclassを付与できます
            firstLast: false
        })
    });
</script>

<%- include('../partials/footer.ejs') %>