<!-- ユーザー情報確認画面(参照・更新) -->
<%- include('../partials/header.ejs') %>
<form class="font-sans text-sm rounded w-full max-w-md mx-auto my-8 px-8 pt-6 pb-8">
    <!-- ユーザー名 -->
    <p>ユーザー名</p>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
      <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="username" type="text" placeholder="Username" value="ここに名前の値">
    </div>
    <!-- パスワード -->
    <p>パスワード</p>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
      <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="password" type="password" placeholder="Password" value="ここにパスワードの値">
    </div>
    <p>確認用</p>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="password-confirmation" type="password" placeholder="Password-confirmation" value="ここにパスワードの値">
        <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="password-confirmation">
        </label>
      </div>
    <!-- 電話番号 -->
    <p>電話番号 ハイフンなし</p>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="tel" type="text" placeholder="Tel" value="ここに電話番号">
      </div>
      <!-- メールアドレス -->
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="mail" type="text" placeholder="Mail" value="ここにメアド">
        <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="mail">
          Mail
        </label>
      </div>
      <!-- 誕生日 -->
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="birthday" type="text" placeholder="Birthday" value="ここに誕生日">
      </div>
      <p>郵便番号</p>
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="postalcode" type="text" placeholder="Postalcode" value="ここに郵便番号">
      </div>
      <p>住所１</p>
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="prefectures" type="text" placeholder="Prefectures" value="ここに住所">
      </div>
      <p>住所２</p>
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="municipalities" type="text" placeholder="Municipalities" value="ここに住所">
      </div>
      <p>住所３</p>
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="apartment" type="text" placeholder="Apartment" value="ここに住所">
      </div>
      <!-- クレジットカード -->
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="number" type="text" placeholder="Cash-card-number" value="ここにクレカ">
      </div>
      <!-- セキュリティコード -->
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="security_code" type="text" placeholder="Security_code" value="ここにセキュリティーコード">
      </div>
    <div class="flex items-center justify-between">
      <button class="bg-black hover:bg-black text-white py-2 px-4" type="button">
      更新
      </button>
    </div>
  </form>
<%- include('../partials/footer.ejs') %>