<!-- ユーザー登録画面(新規登録) -->
<%- include('../partials/header.ejs') %>
<form class="font-sans text-sm rounded w-full max-w-md mx-auto my-8 px-8 pt-6 pb-8">
    <!--名前-->
    <label>名前</label>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
      <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="username" type="text" placeholder="Username">
      <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="username">
        Username
      </label>
    </div>
    <!--パスワード-->
    <label>パスワード</label>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
      <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="password" type="password" placeholder="Password">
      <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="password">
        Password
      </label>
    </div>
    <!--確認用パスワード-->
    <label>確認用パスワード</label>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="password-confirmation" type="password" placeholder="Password-confirmation">
        <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="password-confirmation">
          Password-confirmation
        </label>
    </div>
    <!--電話番号-->
    <label>電話番号</label>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="tel" type="text" placeholder="Tel">
        <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="tel">
          Tel
        </label>
    </div>
    <!--メールアドレス-->
    <label>メールアドレス</label>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
      <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="mail" type="text" placeholder="Mail">
      <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="mail">
        Mail
      </label>
    </div>
    <!--生年月日-->
    <label>生年月日</label>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
      <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="birthday" type="text" placeholder="Birthday">
      <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="birthday">
        Birthday
      </label>
    </div>
    <!--郵便番号-->
    <label>住所<br></label>
    <label>郵便番号</label>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
      <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="postalcode" type="text" placeholder="Postalcode"required>
      <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="postalcode">
        Postalcode
      </label>
    </div>
    <!--県-->
    <label>県</label>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
      <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="address1" type="text" placeholder="Prefectures">
      <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="address1">
        Prefectures
      </label>
    </div>
    <!--市町村-->
    <label>市町村</label>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
      <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="address2" type="text" placeholder="Municipalities">
      <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="address2">
        Municipalities
      </label>
    </div>
    <!--アパート-->
    <label>アパート</label>
    <div class="relative border rounded mb-4 shadow appearance-none label-floating">
      <input class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="address3" type="text" placeholder="Apartment">
      <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="address3">    
          Apartment
      </label>
    </div>
     <!--カード登録画面への遷移-->
    <div class="flex items-center justify-between">
      <button class="bg-black hover:bg-black text-white py-2 px-4" type="button">
      カード登録に進む
      </button>
    </div>
  </form>
<%- include('../partials/footer.ejs') %>