<header>
  <div class="border-indigo-200 border-4 bg-indigo-200">
    <nav
      class="bg-indigo-200 font-sans bg-white text-center flex justify-between my-4 mx-auto container overflow-hidden items-center"
    >
      <div class="flex items-center">
        <a href="/manager" class="mr-4 w-32">
          <img src="/public/img/logo.png" class="rounded-md w-full" alt="logo" />
        </a>
        <p>管理者ページ</p>
      </div>
      <% if(locals.user && (locals.user.category === "従業員")) { %>
      <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
        <li>
          <p>こんにちは、<%= (locals.user.name || "名無し") %>さん。</p>
        </li>
        <li>
          <a
            href="/manager/account/mypage"
            class="rounded-md bg-gray-500 hover:bg-text-gray-800 text-white ml-4 py-2 px-3"
          >
            マイページ
          </a>
        </li>
        <li>
          <a
            href="/manager/account/logout"
            class="rounded-md bg-black hover:bg-text-gray-800 text-white ml-4 py-2 px-3"
          >
            ログアウト
          </a>
        </li>
      </ul>
      <% } else { %>
      <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
        <li>
          <a
            href="/manager/account/login"
            class="rounded-md bg-gray-500 hover:bg-text-gray-800 text-white ml-4 py-2 px-3"
          >
            ログイン
          </a>
        </li>
        <li>
          <a
            href="/manager/account/signup"
            class="rounded-md bg-black hover:bg-text-gray-800 text-white ml-4 py-2 px-3"
          >
            従業員登録
          </a>
        </li>
      </ul>
      <% } %>
    </nav>
  </div>
</header>
