<!-- 入札完了ページ -->

<%- include('../partials/header.ejs') %>
<style>
  h1{
    font-size: 25px;
    padding: 100px 0;
  }
  .back{
    background-color: blanchedalmond;
    border: 1px #000 solid;
    font-size: 20px;
    padding: 0px 50px;
    margin-bottom: 20px;
  }
</style>
<div class="text-center">
  <h1 class="my-4 font-medium">入札が完了しました！</h1>
  <a href="/" class="back">トップへ戻る</a>
</div>
<%- include('../partials/footer.ejs') %>
