<!--入札画面・商品ページ-->
<%- include('../partials/header.ejs') %>
<style>
</style>
    <body>
      </div>
      <div class="detail">
        <div class="space-y-5">
                <div class="p-3 bg-white shadow rounded-lg">
                    画像登録
                <input type="file" class="text-xs border-b">
                </div>
                <!-- メーカー名 -->


                <!-- 車両評価 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    車両評価
                    <input type="text" class="text-xs border-b" placeholder="車両評価を入力">
                    <p class="font-sans">
                    </p>
                </div>
                <!-- 外装評価 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    外装評価
                    <input type="text" class="text-xs border-b" placeholder="外装評価を入力">
                    <p class="font-sans">
                    </p>
                </div>
                    <!-- 内装評価 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    内装評価
                    <input type="text" class="text-xs border-b" placeholder="内装評価を入力">
                    <p class="font-sans">
                    </p>
                </div>
                <!-- 年式 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    年式
                    <input type="text" class="text-xs border-b" placeholder="年式を入力">
                    <p class="font-sans">
                </div>
                <!-- ドア数 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">ドア数</h3>
                    <p class="font-serif">
                    ドア数
                    </p>
                </div>
            </div>
            <div class="space-y-5">
                <!-- 車体グレード-->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">車体グレード</h3>
                    <p class="font-sans">
                        車体グレード
                    </p>
                </div>
                <!-- 車歴 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">車歴</h3>
                    <p class="font-serif">
                        車歴
                    </p>
                </div>
                <!-- 片式 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">片式</h3>
                    <p class="font-serif">
                        片式
                    </p>
                </div>
                <!-- 排気量 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">排気量</h3>
                    <p class="font-serif">
                        排気量
                    </p>
                </div>
                <!-- 燃料 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">燃料</h3>
                    <p class="font-serif">
                        燃料
                    </p>
                </div>
                <!-- 車検日 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">車検日</h3>
                    <p class="font-serif">
                        車検日
                    </p>
                </div>
                <!-- 走行距離 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">走行距離</h3>
                    <p class="font-serif">
                        走行距離
                    </p>
                </div>
                <!-- 外装色 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">外装色</h3>
                    <p class="font-serif">
                        外装色
                    </p>
                </div>
                <!-- 内装色 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">内装色</h3>
                    <p class="font-serif">
                        内装色
                    </p>
                </div>
                <!-- 色数 -->
                <div class="p-3 bg-white shadow rounded-lg">
                    <h3 class="text-xs border-b">色数</h3>
                    <p class="font-serif">
                        色数
                    </p>
            </div>
            <!-- 車体番号 -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">車体番号</h3>
                <p class="font-serif">
                    車体番号
                </p>
            </div>
            <!-- シフトタイプ -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">シフトタイプ</h3>
                <p class="font-serif">
                    シフトタイプ
                </p>
            </div>
            <!-- ギアタイプ -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">ギアタイプ</h3>
                <p class="font-serif">
                    ギアタイプ
                </p>
            </div>
            <!-- エアコンタイプ -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">エアコンタイプ</h3>
                <p class="font-serif">
                    エアコンタイプ
                </p>
            </div>
            <!-- パワーステアリング -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">パワーステアリング</h3>
                <p class="font-serif">
                    パワーステアリング
                </p>
            </div>
            <!-- パワーウィンド -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">パワーウィンド</h3>
                <p class="font-serif">
                    パワーウィンド
                </p>
            </div>
            <!-- アルミホイール -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">アルミホイール</h3>
                <p class="font-serif">
                    アルミホイール
                </p>
            </div>
            <!-- サンルーフ -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">サンルーフ</h3>
                <p class="font-serif">
                    サンルーフ
                </p>
            </div>
            <!-- タイヤ -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">タイヤ</h3>
                <p class="font-serif">
                    タイヤ
                </p>
            </div>
            <!-- 本革シート -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">本革シート</h3>
                <p class="font-serif">
                    本革シート
                </p>
            </div>
            <!-- エアバック -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">エアバック</h3>
                <p class="font-serif">
                    エアバック
                </p>
            </div>
            <!-- テレビ -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">テレビ</h3>
                <p class="font-serif">
                    テレビ
                </p>
            </div>
            <!-- ナビ -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">ナビ</h3>
                <p class="font-serif">
                    ナビ
                </p>
            </div>
            <!-- リアスポイラー -->
            <div class="p-3 bg-white shadow rounded-lg">
                <h3 class="text-xs border-b">リアスポイラー</h3>
                <p class="font-serif">
                    リアスポイラー
                </p>
            </div>
        </div>
    </div>
    </body>
    
    <%- include('../partials/footer.ejs') %>