<!--ログイン画面-->
<%- include('../partials/header.ejs') %>
<form id=loginForm action="/login" method="post" class="font-sans text-sm rounded w-full max-w-md mx-auto my-8 px-8 pt-6 pb-8">
  <div class="relative border rounded mb-4 shadow appearance-none label-floating">
    <input name="mail" class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="username" type="text" placeholder="Username">
    <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="username">
      Username
    </label>
  </div>
  <div class="relative border rounded mb-4 shadow appearance-none label-floating">
    <input name="password" class="w-full py-2 px-3 text-gray-700 leading-normal rounded" id="password" type="password" placeholder="Password">
    <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="password">
      Password
    </label>
  </div>
  <div class="flex items-center justify-between">
    <button class="bg-black hover:bg-black text-white py-2 px-4" type="submit">
    Sign In
    </button>
    <a class="inline-block align-baseline text-gray-500 hover:text-gray-700" href="#">
      Forgot Password?
    </a>
  </div>
</form>

<!-- <script>
  const socket = io();
  const form = document.getElementById('loginForm');

  form.addEventListener('submit', (e) => {
    e.preventDefault();
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    socket.emit('login', { username, password });
  });

  socket.on('login', (data) => {
    if (data.success) {
      window.location.href = '/';
    } else {
      alert(data.message);
    }
  });
</script> -->
<%- include('../partials/footer.ejs') %>