<%- include('../partials/header.ejs') %>
    <script>
        function notNull() {
            // Get the value of the input field with id="numb"
            var result = document.getElementById("name").value;
            // If x is Not a Number or less than one or greater than 10
            var text;
            if (result == "") {
                text = "車両名が空白です。";
            } else {
                text = "OK";
            }
            document.getElementById("null").innerHTML = text;
        }
    </script>

    <body>
        <div class="text-center">
            <h1 class="my-4 font-medium">条件を設定してください</h1>
            <p class="leading-normal mb-4 max-w-sm m-auto">please show your asshole</p>
        </div>
        <form method="GET" class="font-sans text-sm rounded w-full max-w-md mx-auto my-8 px-8 pt-6 pb-8" action="/search?keyword=#">
        <!-- メーカー名 -->
        <p>メーカー名</p>
        <div class="relative border rounded mb-4 shadow appearance-none label-floating">
            <select name="maker"
                class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <option>メーカーを選択してください</option>
                <!-- 日本車メーカー -->
                <option value="TOYOTA">TOYOTA</option>
                <option value="LEXUS">LEXSUS</option>
                <option value="NISSAN">NISSAN</option>
                <option value="MITSUBISHI">MITSUBISHI</option>
                <option value="HONDA">HONDA</option>
                <option value="MAZDA">MAZDA</option>
                <option value="SUBARU">SUBARU</option>
                <option value="SUZUKI">SUZUKI</option>
                <option value="DAIHATSU">DAIHATSU</option>
                <option value="ISUZU">ISUZU</option>
                <option value="光岡自動車">光岡自動車</option>
                <option value="HINO">HINO</option>
                <option value="UDトラック">UDトラック</option>
                <!-- アメリカ車メーカー -->
                <option value="ゼネラルモータース">ゼネラルモータース</option>
                <option value="キャデラック">キャデラック</option>
                <option value="ビュイック">ビュイック</option>
                <option value="ポンテアック">ポンテアック</option>
                <option value="シボレー">シボレー</option>
                <option value="ハマー">ハマー</option>
                <option value="GMC">GMC</option>
                <option value="フォード・モーター">フォード・モーター</option>
                <option value="リンカーン">リンカーン</option>
                <option value="クライスラー">クライスラー</option>
                <option value="クライスラー・ジープ">クライスラー・ジープ</option>
                <option value="ダッジ">ダッジ</option>
                <option value="テスラ">テスラ</option>
                <option value="クライスラー">クライスラー</option>
                <!-- イギリス車メーカー -->
                <option value="ロールスロイス">ロールスロイス</option>
                <option value="ベントレー">ベントレー</option>
                <option value="ギャガー">ジャガー</option>
                <option value="MINI">MINI</option>
                <option value="ランドローバー">ランドローバー</option>
                <option value="アストンマーチン">アストンマーチン</option>
                <option value="ロータス">ロータス</option>
                <option value="ケータハム">ケータハム</option>
                <option value="マクラーレン">マクラーレン</option>
                <option value="ウェストフィールド">ウェストフィールド</option>
                <!-- ドイツ車メーカー -->
                <option value="フォルクスワーゲン">フォルクスワーゲン</option>
                <option value="アウディ">アウディ</option>
                <option value="BMW">BMW</option>
                <option value="ポルシェ">ポルシェ</option>
                <option value="ダイムラー">ダイムラー</option>
                <option value="メルセデス・ベンツ">メルセデス・ベンツ</option>
                <option value="マイバッハ">マイバッハ</option>
                <!-- イタリア車メーカー -->
                <option value="フィアット">フィアット</option>
                <option value="フェラーリ">フェラーリ</option>
                <option value="ランボルギーニ">ランボルギーニ</option>
                <option value="アルファ・ロメオ">アルファ・ロメオ</option>
                <option value="マセラティ">マセラティ</option>
                <option value="アバルト">アバルト</option>
                <!-- フランス車メーカー -->
                <option value="ルノー">ルノー</option>
                <option value="シトロエン">シトロエン</option>
                <option value="プジョー">プジョー</option>
                <option value="ブガッティ">ブガッティ</option>
            </select>
        </div>
            <!-- 車両名 -->
            <p>車両名</p>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <input class="w-full py-2 px-3 text-black-700 leading-normal rounded" id="name" type="text"
                    placeholder="車両名を入力してください" onclick="notNull()">
                <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="name">
                </label>
                <p id="null"></p>
            </div>
            <!-- 年式 -->
            <p>年式</p>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <input class="w-full py-2 px-3 text-black-700 leading-normal rounded" id="year1" type="text"
                    placeholder="年式を入力してください">
                <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="year1">
                    年式を入力してください
                </label>
            </div>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <input class="w-full py-2 px-3 text-black-700 leading-normal rounded" id="year2" type="text"
                    placeholder="年式を入力してください">
                <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="year2">
                    年式を入力してください
                </label>
            </div>
            <!-- 型式 -->
            <p>型式</p>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <input class="w-full py-2 px-3 text-black-700 leading-normal rounded" id="model" type="text"
                    placeholder="年式を入力してください">
                <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="model">
                    型式を入力してください
                </label>
            </div>
            <!-- 排気量 -->
            <p>排気量</p>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <input class="w-full py-2 px-3 text-black-700 leading-normal rounded" id="engine_size1" type="text"
                    placeholder="排気量を入力してください">
                <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal"
                    for="engine_size1">
                    排気量を入力してください
                </label>
            </div>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <input class="w-full py-2 px-3 text-black-700 leading-normal rounded" id="engine_size2" type="text"
                    placeholder="排気量を入力してください">
                <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal"
                    for="engine_size2">
                    排気量を入力してください
                </label>
            </div>
            <!-- 油種 -->
            <p>油種</p>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <select name="fuel"
                    class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    <option>燃料を選択してください</option>
                    <option value="1">レギュラー</option>
                    <option value="2">ハイオク</option>
                    <option value="3">軽油</option>
                </select>
            </div>
            <!-- 走行距離 -->
            <p>走行距離</p>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <input class="w-full py-2 px-3 text-black-700 leading-normal rounded" id="mileage1" type="text"
                    placeholder="走行距離を入力してください">
                <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="mileage1">
                    走行距離を入力してください
                </label>
            </div>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <input class="w-full py-2 px-3 text-black-700 leading-normal rounded" id="mileage2" type="text"
                    placeholder="走行距離を入力してください">
                <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal" for="mileage2">
                    走行距離を入力してください
                </label>
            </div>
            <!-- 外装色 -->
            <p>外装色</p>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <input class="w-full py-2 px-3 text-black-700 leading-normal rounded" id="outer_color" type="text"
                    placeholder="外装色を入力してください">
                <label class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal"
                    for="outer_color">
                    外装色を入力してください
                </label>
            </div>
            <!-- ギアタイプ -->
            <p>ギアタイプ</p>
            <div class="relative border rounded mb-4 shadow appearance-none label-floating">
                <select name="fuel"
                    class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    <option>ギアタイプを選択してください</option>
                    <option value="MT">MT</option>
                    <option value="AT">AT</option>
                </select>
            </div>
            <!-- その他絞り込み -->
            <p>その他絞り込み</p>
            <div class="etc">
                <div class="flex items-center mr-4 mb-2">
                    <input type="checkbox" id="ps" name="A3-confirmation" value="ps" />
                    <label for="ps" class="select-none">パワステ</label>
                </div>
                <div class="flex items-center mr-4 mb-2">
                    <input type="checkbox" id="pw" name="A3-confirmation" value="pw" />
                    <label for="pw" class="select-none">パワーウィンドウ</label>
                </div>
            </div>

            <div class="flex items-center justify-between">
                <button class="bg-black hover:bg-black text-white py-2 px-4" type="submit">
                    この条件で検索
                </button>
            </div>

        </form>
    </body>
    <%- include('../partials/footer.ejs') %>